@reference "../../app/(frontend)/globals.css";

.nav {
  @apply w-full invisible opacity-0 absolute top-[72px] left-0 h-screen bg-white py-[40px] px-4
         lg:top-0 lg:relative lg:visible lg:opacity-100 lg:h-full lg:py-0 lg:w-max;
}

.nav__wrapper {
  @apply w-full flex justify-between items-center flex-col lg:flex-row;
}

.nav__item {
  @apply w-full border-b border-neutral-100 py-4 items-center px-[24px] h-[72px] cursor-pointer transition-all hover:text-primary-500 lg:relative lg:flex lg:w-max lg:py-0 lg:h-[40px] lg:border-b-0;
}

.nav__item:last-of-type {
  @apply border-b-0;
}

.nav__item.open {
  @apply text-primary-500;
}

.nav__item.open svg {
  @apply rotate-180;
}

.nav__item.open svg path,
.nav__item:hover svg path {
  @apply stroke-primary-500;
}

.nav__item.open .nav__item--label {
  @apply underline;
}

.nav__item--label {
  @apply text-[14px] leading-[40px] flex items-center justify-between gap-[6px] w-full lg:w-max 
         lg:justify-center;
}

.nav__submenu-wrapper {
  @apply bg-white transition-all block static p-[10px] invisible opacity-0
         lg:absolute lg:w-[max(22.22vw,320px)] lg:left-[50%] lg:top-[40px] lg:z-999 lg:rounded-lg 
         lg:border lg:border-neutral-100 lg:p-6 lg:-translate-x-1/2 lg:h-auto;
}

.nav__submenu {
  @apply flex flex-col gap-2;
}

.nav__submenu--item {
  @apply flex gap-2 rounded p-2 px-4 cursor-pointer transition-all hover:bg-primary-100;
}

.nav__submenu--icon {
  @apply flex items-center justify-center size-9 rounded border border-neutral-100 bg-neutral-50 shrink-0;
}

.nav__submenu--title h3 {
  @apply text-[14px] font-medium leading-[1.42] mb-[2px] text-neutral-900 font-title;
}

.nav__submenu--item .payload-richtext {
  @apply text-xs font-normal leading-[1.33] text-neutral-500 m-0;
}

.nav__item.open {
  @apply h-full lg:h-[40px];
}

.nav__item.open .nav__submenu-wrapper {
  @apply visible opacity-100;
}

.nav__item--wrapper {
  @apply w-full;
}
